In [4]:
#List Comprehensions

course = "Python for Everybody"
mylist = []
for letter in course:
    mylist.append(letter)
    print(mylist)

['P']
['P', 'y']
['P', 'y', 't']
['P', 'y', 't', 'h']
['P', 'y', 't', 'h', 'o']
['P', 'y', 't', 'h', 'o', 'n']
['P', 'y', 't', 'h', 'o', 'n', ' ']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v', 'e']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v', 'e', 'r']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v', 'e', 'r', 'y']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v', 'e', 'r', 'y', 'b']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v', 'e', 'r', 'y', 'b', 'o']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v', 'e', 'r', 'y', 'b', 'o', 'd']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v', 'e', 'r', 'y', 'b', 'o', 'd', 'y']

In [5]:
mylist2= [letter for letter in course]

In [6]:
print(mylist2)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', 'E', 'v', 'e', 'r', 'y', 'b', 'o', 'd', 'y']

In [7]:
vowels = [letter for letter in course if letter in 'aeiouy']

In [8]:
vowels

['y', 'o', 'o', 'e', 'y', 'o', 'y']

In [9]:
#Exponents
numbers = [num**2 for num in range(0,9)]

In [10]:
numbers

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [12]:
#More comprehension
Fahrenheit = []
Celsius = [-40, -20, 0, 10, 15, 25, 35, 50]
for temp in Celsius:
    temp = (temp*1.8) + 32
    Fahrenheit.append(temp)
print(Fahrenheit)

[-40.0, -4.0, 32.0, 50.0, 59.0, 77.0, 95.0, 122.0]

In [13]:
#Same code but way shorter
Celsius = [-40, -20, 0, 10, 15, 25, 35, 50]
Farenheit = [(temp*1.8) + 32 for temp in Celsius]
print(Farenheit)

[-40.0, -4.0, 32.0, 50.0, 59.0, 77.0, 95.0, 122.0]

In [14]:
#Create your own function
def greeting(name):
    return f"Welcome to Python for Everybody, {name}"

In [15]:
greeting('Henry')

'Welcome to Python for Everybody, Henry'

In [16]:
sentence = greeting('Henry')

In [17]:
sentence

'Welcome to Python for Everybody, Henry'

In [18]:
sentence.count('o')

5

In [19]:
sentence.upper()

'WELCOME TO PYTHON FOR EVERYBODY, HENRY'

In [23]:
def can_drink(age):
    if age >= 18:
        return True
    else:
        return False

In [21]:
can_Raul_drink = can_drink(31)

In [22]:
can_Raul_drink

True

In [25]:
def greeting(name="Thor"):
    print("Hello ", name)

In [26]:
greeting()

Hello  Thor

In [27]:
greeting("Raul")

Hello  Raul

In [30]:
#Second Example:
def create_person(name, age, role='Student', required_books=5):
    person = {
        'person_name' : name,
        'age': age,
        'role' : role,
        'total_books' : required_books,
    }
    return person

In [31]:
raul = create_person("Raul", 31, role='Student')

In [32]:
raul

{'person_name': 'Raul', 'age': 31, 'role': 'Student', 'total_books': 5}

In [33]:
def pers_age(age):
    print(f'You are {age} years old')

In [34]:
pers_age(31)

You are 31 years old